body {
  background-color: black;
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  padding: 2em;
}


button {
  font-size: 2rem;
  padding: 1.5rem;
  cursor: pointer;
}

input {
  width: 50%;
  padding: 1rem;
  font-size: 2rem;
}

li {
  list-style-type: none;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

form {
  display: flex;
  justify-content: space-around;
}