body {
  background-color: black;
  color: aliceblue;
  font-size: 2rem;
}


button {
  font-size: 2rem;
  padding: 1.5rem;
  cursor: pointer;
}

input {
  width: 50%;
  padding: 1rem;
  font-size: 2rem;
}